header {
  width: 95%;
  margin: 2%;
  padding: 5px;
  color: #eeeeee;
  background-color: gray;
}

h1 {
  text-align: center;
}

.timer {
  text-align: right;
}

.main {
  margin: auto 25%;
  width: 50%;
}

.quiz {
  text-align: center;
}

#start {
  margin: auto;
  background-color: rgb(176, 15, 224);
  color: rgb(236, 227, 227);
}

button {
  background-color: rgb(176, 15, 224);
  color: rgb(236, 227, 227);
}

#scoreSubmit  {
  background-color: rgb(176, 15, 224);
  color: rgb(236, 227, 227);
}

